.top-headline { 
    border-bottom: 1px solid #e1e1e1; 
    padding: 6px 0;
}

.top-headline h4 { 
    font-size: 15px;
}

.top-headline-content { 
    display: flex;
}

.top-headline-content img { 
    width: 240px; 
    padding-right: 12px;
}

.top-head {
    border-bottom: 4px solid #e1e1e1;
    padding-bottom: 6px;
    margin-bottom: 0px;
}

.news-list .ant-card {
    margin: 12px;
}

.news-list .ant-card-cover img {
    height: 180px;
}

.news-list {
    max-height: calc(100vh - 24px);
    overflow: hidden;
    overflow-y: auto;
}