.news-list .ant-card {
    margin: 12px;
}

.news-list .ant-card-cover img {
    height: 180px;
}

.news-list {
    max-height: calc(100vh - 24px);
    overflow: hidden;
    overflow-y: auto;
}

.top-headlines {
    padding-left: 12px;
}